.view {
  cursor: pointer;
  background-color: green;
  color: white;
  margin: 5px;
  width: 50px;
  height: 25px;
  border-radius: 15px;
}
.edit {
  cursor: pointer;
  background-color: orange;
  color: white;
  margin: 5px;
  width: 50px;
  height: 25px;
  border-radius: 15px;
}
.delete {
  cursor: pointer;
  background-color: red;
  color: white;
  margin: 5px;
  width: 50px;
  height: 25px;
  border-radius: 15px;
}
.create {
  cursor: pointer;
  background-color: blue;
  color: white;
  margin: 5px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  float: right;
}
.employeeList {
  text-align: center;
}
.title {
  font-size: 30px;
  font-weight: bolder;
  padding: 15px;
}
.underconstruction {
  text-align: center;
  margin: 50px;
  font-size: 50px;
  font-weight: bolder;
}
.inputField {
  padding: 15px;
}
.submit {
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 15px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}
